<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liweifan.modules.sys.dao.RoleMapper">
	<!-- 通过用户登录名查询用户角色 -->
	<select id="querySysRoleListByUserName" resultType="com.liweifan.modules.sys.dto.SysRoleDto">
		select c.* from sys_user a 
		left join sys_user_role b on a.username=b.user_id
		left join sys_role c on b.role_id=c.id
		where a.username=#{username}
	</select>

</mapper>