<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liweifan.modules.sys.dao.SourceMapper">
	<!-- 通过角色id查询角色菜单 -->
	<select id="querySysSourceByRoleId" resultType="com.liweifan.modules.sys.entity.SysSource">
		select c.* from sys_source a 
		left join sys_role_source b on a.id=b.source_id
		where b.role_id=#{roleId}
	</select>
</mapper>